.admin-container {
  height: calc(100vh - 100px); // Header ve footer'ı çıkarmak için
  display: flex;
}

.admin-left {
  width: 220px;
  background: linear-gradient(180deg, #365e86, #36699c);
  color: white;
  padding: 20px 10px;
}

mat-drawer-content {
  flex: 1;
  padding: 20px;
  background: #f4f6f9;
}